// dacty_left.overlay

#include "dactyl.dtsi" // Notice that the main dtsi files are included in the overlay.

&kscan {
    col-gpios
        = <&gpio0 D13 GPIO_ACTIVE_HIGH> // col1 in the schematic
        , <&gpio0 D12 GPIO_ACTIVE_HIGH> // col2 in the schematic
        , <&gpio0 D11 GPIO_ACTIVE_HIGH> // col3 in the schematic
        , <&gpio0 D10 GPIO_ACTIVE_HIGH> // col4 in the schematic
        , <&gpio0 D9 GPIO_ACTIVE_HIGH> // col5 in the schematic
        , <&gpio0 D6 GPIO_ACTIVE_HIGH> // col6 in the schematic
        ;
};